spring:
  profiles:
    active: dev
  application:
    name: ctrl-zero
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
server:
  port: 8333

access-token:
  private: "access-refresh-token-keys/access-token-private.key"
  public: "access-refresh-token-keys/access-token-public.key"
refresh-token:
  private: "access-refresh-token-keys/refresh-token-private.key"
  public: "access-refresh-token-keys/refresh-token-public.key"


beetlsql:
  sqlManagers: sqlManager1
  sqlManager1:
    ds: dataSource
    basePackage: com.onezero.mapper
    dbStyle: com.onezero.config.CzMysqlStyle
